<div>
  <button mat-raised-button (click)="toggleGkStats()">General Stats</button>
  <button mat-raised-button (click)="toggleGkStats()">Goalkeeping Stats</button>
  <button mat-raised-button (click)="toggleGkStats()">Defensive Stats</button>
  <button mat-raised-button (click)="toggleGkStats()">Creativity Stats</button>
  <button mat-raised-button (click)="toggleGkStats()">Attacking Stats</button>
</div>
  
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Ferguson" #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Position </th>
        <td mat-cell *matCellDef="let row"> {{row.position}} </td>
      </ng-container>
  
      <ng-container matColumnDef="club">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Club </th>
        <td mat-cell *matCellDef="let row"> {{row.club}} </td>
      </ng-container>

      <ng-container *ngIf="statsDisplayed === 'gk'" matColumnDef="clean sheets">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Clean Sheets </th>
        <td mat-cell *matCellDef="let row"> {{row.overallStatsDto.cleanSheets}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of players"></mat-paginator>
  </div>
  


