<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-button-toggle value="General Stats" (click)="toggleGeneralStats()">General Stats</mat-button-toggle>
  <mat-button-toggle value="Goalkeeping Stats" (click)="toggleGkStats()">Goalkeeping Stats</mat-button-toggle>
  <mat-button-toggle value="Defensive Stats" (click)="toggleDefensiveStats()">Defensive Stats</mat-button-toggle>
  <mat-button-toggle value="Creativity Stats" (click)="toggleCreativeStats()">Creativity Stats</mat-button-toggle>
  <mat-button-toggle value="Attacking Stats" (click)="toggleAttackingStats()">Attacking Stats</mat-button-toggle>
</mat-button-toggle-group>
  
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Ferguson..." #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8">

    <!-- Table for general stats -->

    <table *ngIf="statsDisplayed === 'general'" mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Position </th>
        <td mat-cell *matCellDef="let row"> {{row.position}} </td>
      </ng-container>
      <ng-container matColumnDef="club">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Club </th>
        <td mat-cell *matCellDef="let row"> {{row.club}} </td>
      </ng-container>
      <ng-container matColumnDef="overallStatsDto.matchesPlayed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Appearances </th>
        <td mat-cell *matCellDef="let row"> {{row.overallStatsDto.matchesPlayed}} </td>
      </ng-container>
      <ng-container matColumnDef="overallStatsDto.minutesPlayed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Minutes </th>
        <td mat-cell *matCellDef="let row"> {{row.overallStatsDto.minutesPlayed}} </td>
      </ng-container>
      <ng-container matColumnDef="overallStatsDto.goals">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Goals </th>
        <td mat-cell *matCellDef="let row"> {{row.overallStatsDto.goals}} </td>
      </ng-container>
      <ng-container matColumnDef="overallStatsDto.goalAssist">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Assists </th>
        <td mat-cell *matCellDef="let row"> {{row.overallStatsDto.goalAssist}} </td>
      </ng-container>
      <ng-container matColumnDef="overallStatsDto.rating">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Avg Rating </th>
        <td mat-cell *matCellDef="let row"> {{ (row.overallStatsDto.rating / row.overallStatsDto.matchesPlayed).toFixed(2) }} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <!-- Table for goalkeeping stats -->

    <table *ngIf="statsDisplayed === 'gk'" mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Position </th>
        <td mat-cell *matCellDef="let row"> {{row.position}} </td>
      </ng-container>
      <ng-container matColumnDef="club">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Club </th>
        <td mat-cell *matCellDef="let row"> {{row.club}} </td>
      </ng-container>
      <ng-container matColumnDef="overallStatsDto.matchesPlayed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Appearances </th>
        <td mat-cell *matCellDef="let row"> {{row.overallStatsDto.matchesPlayed}} </td>
      </ng-container>
      <ng-container matColumnDef="overallStatsDto.minutesPlayed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Minutes </th>
        <td mat-cell *matCellDef="let row"> {{row.overallStatsDto.minutesPlayed}} </td>
      </ng-container>      
      <ng-container matColumnDef="overallStatsDto.rating">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Avg Rating </th>
        <td mat-cell *matCellDef="let row"> {{(row.overallStatsDto.rating / row.overallStatsDto.matchesPlayed).toFixed(2)}} </td>
      </ng-container>
      <ng-container matColumnDef="overallStatsDto.cleanSheets">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Clean Sheets </th>
        <td mat-cell *matCellDef="let row"> {{row.overallStatsDto.cleanSheets}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <!-- Table for defensive stats -->

    <table *ngIf="statsDisplayed === 'def'" mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Position </th>
        <td mat-cell *matCellDef="let row"> {{row.position}} </td>
      </ng-container>
      <ng-container matColumnDef="club">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Club </th>
        <td mat-cell *matCellDef="let row"> {{row.club}} </td>
      </ng-container>
      <ng-container matColumnDef="overallStatsDto.matchesPlayed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Appearances </th>
        <td mat-cell *matCellDef="let row"> {{row.overallStatsDto.matchesPlayed}} </td>
      </ng-container>
      <ng-container matColumnDef="overallStatsDto.minutesPlayed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Minutes </th>
        <td mat-cell *matCellDef="let row"> {{row.overallStatsDto.minutesPlayed}} </td>
      </ng-container>      
      <ng-container matColumnDef="overallStatsDto.rating">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Avg Rating </th>
        <td mat-cell *matCellDef="let row"> {{ (row.overallStatsDto.rating / row.overallStatsDto.matchesPlayed).toFixed(2) }} </td>
      </ng-container>
      <ng-container matColumnDef="overallStatsDto.duelWon">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Duels Won % </th>
        <td mat-cell *matCellDef="let row"> {{ ((row.overallStatsDto.duelWon / row.overallStatsDto.totalDuels) * 100).toFixed(2) }} </td>
      </ng-container>
      <ng-container matColumnDef="overallStatsDto.aerialWon">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Aerials Won % </th>
        <td mat-cell *matCellDef="let row"> {{ ((row.overallStatsDto.aerialWon / row.overallStatsDto.totalAerialDuels) * 100).toFixed(2) }} </td>
      </ng-container>
      <ng-container matColumnDef="overallStatsDto.totalTackle">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Succ. Tackles </th>
        <td mat-cell *matCellDef="let row"> {{ row.overallStatsDto.totalTackle }} </td>
      </ng-container>
      <ng-container matColumnDef="overallStatsDto.outfielderBlock">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Blocks </th>
        <td mat-cell *matCellDef="let row"> {{ row.overallStatsDto.outfielderBlock }} </td>
      </ng-container>
      <ng-container matColumnDef="overallStatsDto.errorLeadToAShot">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Err Leading To Shot </th>
        <td mat-cell *matCellDef="let row"> {{ row.overallStatsDto.errorLeadToAShot }} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <!-- Table for creative stats -->

    <table *ngIf="statsDisplayed === 'creative'" mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Position </th>
        <td mat-cell *matCellDef="let row"> {{row.position}} </td>
      </ng-container>
      <ng-container matColumnDef="club">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Club </th>
        <td mat-cell *matCellDef="let row"> {{row.club}} </td>
      </ng-container>
      <ng-container matColumnDef="overallStatsDto.matchesPlayed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Appearances </th>
        <td mat-cell *matCellDef="let row"> {{row.overallStatsDto.matchesPlayed}} </td>
      </ng-container>
      <ng-container matColumnDef="overallStatsDto.minutesPlayed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Minutes </th>
        <td mat-cell *matCellDef="let row"> {{row.overallStatsDto.minutesPlayed}} </td>
      </ng-container>      
      <ng-container matColumnDef="overallStatsDto.rating">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Avg Rating </th>
        <td mat-cell *matCellDef="let row"> {{ (row.overallStatsDto.rating / row.overallStatsDto.matchesPlayed).toFixed(2) }} </td>
      </ng-container>
      <ng-container matColumnDef="overallStatsDto.goalAssist">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Assists </th>
        <td mat-cell *matCellDef="let row"> {{ row.overallStatsDto.goalAssist }} </td>
      </ng-container>
      <ng-container matColumnDef="overallStatsDto.totalPass">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Att. Passes </th>
        <td mat-cell *matCellDef="let row"> {{ row.overallStatsDto.totalPass }} </td>
      </ng-container>
      <ng-container matColumnDef="overallStatsDto.accuratePass">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Pass Accuracy % </th>
        <td mat-cell *matCellDef="let row"> {{ ((row.overallStatsDto.accuratePass / row.overallStatsDto.totalPass) * 100).toFixed(2) }} </td>
      </ng-container>
      <ng-container matColumnDef="overallStatsDto.keyPass">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Key Passes </th>
        <td mat-cell *matCellDef="let row"> {{ row.overallStatsDto.keyPass }} </td>
      </ng-container>
      <ng-container matColumnDef="overallStatsDto.accurateLongBalls">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Pass Accuracy % </th>
        <td mat-cell *matCellDef="let row"> {{ ((row.overallStatsDto.accurateLongBalls / row.overallStatsDto.totalLongBalls) * 100).toFixed(2) }} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <!-- Table for attacking stats -->

    <table *ngIf="statsDisplayed === 'att'" mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Position </th>
        <td mat-cell *matCellDef="let row"> {{row.position}} </td>
      </ng-container>
      <ng-container matColumnDef="club">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Club </th>
        <td mat-cell *matCellDef="let row"> {{row.club}} </td>
      </ng-container>
      <ng-container matColumnDef="overallStatsDto.matchesPlayed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Appearances </th>
        <td mat-cell *matCellDef="let row"> {{row.overallStatsDto.matchesPlayed}} </td>
      </ng-container>
      <ng-container matColumnDef="overallStatsDto.minutesPlayed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Minutes </th>
        <td mat-cell *matCellDef="let row"> {{row.overallStatsDto.minutesPlayed}} </td>
      </ng-container>      
      <ng-container matColumnDef="overallStatsDto.goals">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Goals </th>
        <td mat-cell *matCellDef="let row"> {{ row.overallStatsDto.goals }} </td>
      </ng-container>
      <ng-container matColumnDef="overallStatsDto.totalShotsTaken">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Att. Shots </th>
        <td mat-cell *matCellDef="let row"> {{ row.overallStatsDto.totalShotsTaken }} </td>
      </ng-container>
      <ng-container matColumnDef="overallStatsDto.onTargetScoringAttempt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> S.O.T </th>
        <td mat-cell *matCellDef="let row"> {{ row.overallStatsDto.onTargetScoringAttempt }} </td>
      </ng-container>
      <ng-container matColumnDef="overallStatsDto.bigChanceMissed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Big Chances Missed </th>
        <td mat-cell *matCellDef="let row"> {{ row.overallStatsDto.bigChanceMissed }} </td>
      </ng-container>
      <ng-container matColumnDef="overallStatsDto.rating">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Avg Rating </th>
        <td mat-cell *matCellDef="let row"> {{ (row.overallStatsDto.rating / row.overallStatsDto.matchesPlayed).toFixed(2) }} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of players"></mat-paginator>
  </div>
